.comment {
    display: flex;
    background-color: beige;
    color: black;
    border-radius: 20px;
    padding: 5px;
    max-width: 500px;
    position: relative;

    &.my {
        background-color: rgb(223, 220, 245);
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    img {
        height: 64px;
        margin-right: 5px;
        border-radius: 15px;
    }

    .likes {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: white;
        border: 1px solid black;
        border-radius: 15px;
        padding: 0 5px;
        margin: 3px;
        cursor: pointer;
    }
}